{% include head.html %}

<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>

        {{ content }}

      <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      {% if page.comments %}
      <aside class="disqus">
        <div id="disqus_thread"></div>
        <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          /*
          var disqus_config = function () {
          this.page.url = "http://aoliver.org{{ page.url }}"; // <--- use canonical URL
          this.page.identifier = "{{ page.id }}";
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://aoliver-org.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </aside>
      {% endif %}


      </article>

    </section>
</div>

{% include footer.html %}
